@font-face {
  font-family: 'Runescape Chat';
  src: url('runescape-chat.eot?#iefix') format('embedded-opentype'),  url('runescape-chat.otf')  format('opentype'),
	     url('runescape-chat.woff') format('woff'), url('runescape-chat.ttf')  format('truetype'), url('runescape-chat.svg#Runescape') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Runescape Chat Bold';
  src: url('runescape-chat-bold.eot?#iefix') format('embedded-opentype'),  url('runescape-chat-bold.otf')  format('opentype'),
	     url('runescape-chat-bold.woff') format('woff'), url('runescape-chat-bold.ttf')  format('truetype'), url('runescape-chat-bold.svg#Runescape') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Runescape Large';
  src: url('runescape-large.eot?#iefix') format('embedded-opentype'),  url('runescape-large.otf')  format('opentype'),
	     url('runescape-large.woff') format('woff'), url('runescape-large.ttf')  format('truetype'), url('runescape-large.svg#Runescape') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	background-color: black;
	color: black;
	font-family: 'Runescape Chat';
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.boss-box {
	display: inline-block;
	width: 100px;
	height: 140px;
	margin: 10px;
	border: 1px solid #4f4830;
	background-color: rgba(139, 126, 84, 0.3);
	text-align: center;
	padding: 5px;
	vertical-align: top;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.boss-box > a > img {
	width: 100px;
	height: 100px;
}

.boss-box > a {
	text-decoration: none;
}

.boss-box > a > span {
	display: table-cell;
	margin: 0px;
	color: black;
	height: 40px;
	vertical-align: middle;
}

h1 {
	color: #ded6ab;
	font-family: 'Runescape Large';
	font-size: 48px;
	text-shadow:	2px 2px 4px black,
					2px -2px 4px black,
					-2px 2px 4px black,
					-2px -2px 4px black;
	font-weight: normal;
	margin-bottom: 10px;
}

h1 > a {
	color: #ded6ab !important;
	text-decoration: none;
}

h2 {
	color: black;
	font-family: 'Runescape Large';
	font-size: 32px;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: 0px;
}

h3 {
	color: black;
	font-family: 'Runescape Chat Bold';
	font-size: 20px;
	font-weight: normal;
}

h3.index {
	margin-top: 10px;
	margin-bottom: 0px;
}

.anchorjs-link {
	font-family: 'anchorjs-icons';
	color: black !important;
}

a:link, a:visited, a:hover, a:active {
	color: blue;
}

sup {
	font-family: Arial;
	font-size: 14px;
	color: #0d0d0d;
	vertical-align: 3px;
}

sup.dagger {
	font-size: 10px;
	vertical-align: 6px;
	color: #191919;
}

div.header {
	height: 145px;
	width: 865px;
	top: 0px;
	position: absolute;
	margin-left: -30px;
}

div.kril {
	background:url('../images/kril.png') no-repeat center top;
}

div.kq {
	background:url('../images/kq.png') no-repeat center top;
}

div.barrows {
	background:url('../images/barrows.png') no-repeat center top;
}

div.zulrah {
	background:url('../images/zulrah.png') no-repeat center top;
}

div.dks {
	background:url('../images/dks.png') no-repeat center top;
}

div.corp {
	background:url('../images/corp.png') no-repeat center top;
}

div.mole {
	background:url('../images/mole.png') no-repeat center top;
}

div.graardor {
	background:url('../images/graardor.png') no-repeat center top;
}

div.kree {
	background:url('../images/kree.png') no-repeat center top;
}

div.zilyana {
	background:url('../images/zilyana.png') no-repeat center top;
}

div.kbd {
	background:url('../images/kbd.png') no-repeat center top;
}

div.elemental {
	background:url('../images/elemental.png') no-repeat center top;
}

div.callisto {
	background:url('../images/callisto.png') no-repeat center top;
}

div.fanatic {
	background:url('../images/fanatic.png') no-repeat center top;
}

div.archaeologist {
	background:url('../images/archaeologist.png') no-repeat center top;
}

div.scorpia {
	background:url('../images/scorpia.png') no-repeat center top;
}

div.venenatis {
	background:url('../images/venenatis.png') no-repeat center top;
}

div.vetion {
	background:url('../images/vetion.png') no-repeat center top;
}

div.jad {
	background:url('../images/jad.png') no-repeat center top;
}

div.nmz {
	background:url('../images/nmz.png') no-repeat center top;
}

div.pc {
	background:url('../images/pc.png') no-repeat center top;
}

div.ba {
	background:url('../images/ba.png') no-repeat center top;
}

div.slayer {
	background:url('../images/slayer.png') no-repeat center top;
}

div.kraken {
	background:url('../images/kraken.png') no-repeat center top;
}

div.cerberus {
	background:url('../images/cerberus.png') no-repeat center top;
}

div.sire {
	background:url('../images/sire.png') no-repeat center top;
}

div.thermo {
	background:url('../images/thermo.png') no-repeat center top;
}

div.gorilla {
	background:url('../images/gorilla.png') no-repeat center top;
}

.page-title {
	text-align: left;
	margin-left: 75px;
	display: inline-block;
	width: 570px;
}

.dropdown {
	text-align: center;
	margin-left: 0px;
	display: inline-block;
	z-index: 100;
	position: relative;
}

.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
	background-color: rgba(0,0,0,0);
}

button {
	outline: none;
}

h1.menu {
	font-size: 32px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #b39b6b;
    min-width: 180px;
	text-align: left;
	border: 1px solid black;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 7px 5px 12px;
    text-decoration: none;
    display: block;
}

/* Group titles inside the dropdown */
.dropdown-content div {
    color: black;
	padding: 5px 7px 0px 7px;
    text-decoration: none;
    display: block;
	border-top: 1px solid #3e3529;
	font-size: 14px;
	font-family: "Runescape Chat Bold";
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #c9ae78
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.page-wrap {
	background:url('../images/bg2.jpg') repeat-y center top;
	margin:0 auto;
	overflow-y:hidden;
	padding:0 50px;
	width:815px;
}

.content {
	background:url('../images/backdrop_745.gif') repeat-y top center;
	padding:50px 51px;
	position:relative;
}
	
.content:before, .content:after {
	background:url('../images/backdrop_765_top.gif') no-repeat center top;
	content:'';
	height:50px;
	left:0;
	position:absolute;
	top:-11px;
	width:100%;
}

.content:after {
	background:url('../images/backdrop_765_bottom.gif') no-repeat center bottom;
	bottom:-11px;
	top:auto;
}

table {
	margin-left: 15px;
	border-collapse: collapse;
}

th {
	font-family: "Runescape Chat Bold";
	font-weight: normal;
	width: 30px;
	border-collapse: collapse;
	border: 1px solid #4d422c;
}

th:first-of-type {
	width: 115px;
	text-align: left;
	padding-left: 3px;
	padding-right: 3px;
}

th:last-of-type {
	width: 350px;
	text-align: left;
	padding-left: 3px;
	padding-right: 3px;
}

td {
	text-align: center;
	border: 1px solid #4d422c;
	padding-left: 3px;
	padding-right: 3px;
}

td:first-of-type {
	text-align: left;
}

td:last-of-type {
	text-align: left;
}

tr:nth-child(even) {
	background: rgba(170,147,99,0.5);
}

tr:nth-child(odd) {
	background: rgba(133,115,78,0.5);
}

.table-notes {
	margin-left: 15px;
	margin-top: 15px;
}

hr {
	border: 1px solid black;
	border-bottom: 0px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.loadout {
	margin-bottom: 10px;
}

.gear-hierarchy {
	background-repeat: no-repeat;
	height: 37px;
	margin-top: 2px;
	padding-left: 40px;
	display: table;
}

.centered {
display: table-cell; vertical-align: middle;
}

.main-hand {
	background-image: url('../images/icons/main-hand.png');
}

.main-hand-switch {
	background-image: url('../images/icons/main-hand-switch.png');
}

.spec-weapon {
	background-image: url('../images/icons/spec-weapon.png');
}

.shield {
	background-image: url('../images/icons/shield.png');
}

.shield-switch {
	background-image: url('../images/icons/shield-switch.png');
}

.helmet {
	background-image: url('../images/icons/helmet.png');
}

.helmet-switch {
	background-image: url('../images/icons/helmet-switch.png');
}

.body {
	background-image: url('../images/icons/body.png');
}

.body-switch {
	background-image: url('../images/icons/body-switch.png');
}

.legs {
	background-image: url('../images/icons/legs.png');
}

.legs-switch {
	background-image: url('../images/icons/legs-switch.png');
}

.boots {
	background-image: url('../images/icons/boots.png');
}

.boots-switch {
	background-image: url('../images/icons/boots-switch.png');
}

.gloves {
	background-image: url('../images/icons/gloves.png');
}

.gloves-switch {
	background-image: url('../images/icons/gloves-switch.png');
}

.cape {
	background-image: url('../images/icons/cape.png');
}

.cape-switch {
	background-image: url('../images/icons/cape-switch.png');
}

.amulet {
	background-image: url('../images/icons/amulet.png');
}

.amulet-switch {
	background-image: url('../images/icons/amulet-switch.png');
}

.ring {
	background-image: url('../images/icons/ring.png');
}

.ring-switch {
	background-image: url('../images/icons/ring-switch.png');
}

.ammo {
	background-image: url('../images/icons/ammo.png');
}

.ammo-switch {
	background-image: url('../images/icons/ammo-switch.png');
}

.notes > ul {
	margin-top: 5px;
}
.notes > h3 {
	margin-bottom: 5px;
}

.top-marg {
	margin-top: 90px;
}

.bottom-marg {
	margin-bottom: 15px;
}

.footer {
	color: gray;
	vertical-align: bottom;
	text-align: center;
	margin-bottom: 10px;
}